<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ITrainObserverService">
                    <reliableSession inactivityTimeout="20:00:10" enabled="true" />
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:7997/Host/tcp" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ITrainObserverService"
                contract="SRT.ITrainObserverService" name="NetTcpBinding_ITrainObserverService" />
        </client>
    </system.serviceModel>
</configuration>