<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="MetroSimulation.Train.Service.ITrainService">
                <endpoint address="" binding="basicHttpBinding" contract="MetroSimulation.Train.Service.IITrainService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/MetroSimulation.Train.Service/ITrainService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="MetroSimulation.Train.Service.Service1">
                <endpoint address="" binding="basicHttpBinding" contract="MetroSimulation.Train.Service.IService1">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/MetroSimulation.Train.Service/Service1/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="MetroSimulation.Train.Service.TrainService">
                <endpoint address="" binding="basicHttpBinding" contract="MetroSimulation.Train.Service.ITrainService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/MetroSimulation.Train.Service/TrainService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
